/* index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: initial; /* Reset Vite default */
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%; /* Ensure React root takes full width */
  margin: 0;
}